<ion-view view-title="Sign Up">
	 <ion-nav-bar>
  <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
</ion-nav-bar>
	<ion-content class="padding">

		<form novalidate name="signUpForm" style="margin-top:10px;">
			<div class="list">

				<!--****************** NAME -->
				<label class="item item-input item-stacked-label">
					<span class="input-label">Name</span>
					<input type="text" name="name" placeholder="name" ng-model="signUpData.name" required>
                    <span style="color:red" ng-show="signUpForm.name.$dirty && signUpForm.name.$invalid">
                    <span ng-show="signUpForm.name.$error.required">Name is required.</span>
                    </span>
				</label>

				<!--****************** EMAIL -->
				<label class="item item-input item-stacked-label">
					<span class="input-label">Email</span>
					<input type="text" placeholder="Email@domain.com" ng-model="signUpData.email" name="email" required>
                    <span style="color:red" ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
                    <span ng-show="signUpForm.email.$error.required">Email is required.</span>
                    </span>
				</label>

				
                <!--****************** COMPANY NAME -->
				<label class="item item-input item-stacked-label">
					<span class="input-label">Company </span>
					<input type="text" name="lastName" placeholder="Company" ng-model="signUpData.companyName" required>
                    <span style="color:red" ng-show="signUpForm.companyName.$dirty && signUpForm.companyName.$invalid">
                    <span ng-show="signUpForm.companyName.$error.required">Company Name is required.</span>
                    </span>
				</label>
               

				<!--****************** PASSWORD -->
				<label class="item item-input item-stacked-label">
					<span class="input-label">Password</span>
					<input type="password" placeholder="Password" ng-model="signUpData.password" required>
				</label>

				<!--****************** CONFIRM PASSWORD-->
				<label class="item item-input item-stacked-label">
					<span class="input-label">Confirm Password</span>
					<input type="password" placeholder="Password" ng-model="signUpData.confirmPassword" name="confirmPassword" required> 
				</label>  

				<button class="button button-block button-assertive" ng-click="signUp()" style="margin-top:20px"
                        ng-disabled="signUpForm.$invalid">
                    
					Create Account
				</button>

			</div>
		</form>
		
		
		
	</ion-content>


</ion-view>